<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="/static/img/favicon.png"/>
    <meta charset="UTF-8">
    <title>Shipping details</title>

    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=PT+Sans:wght@400;700&display=swap"
          rel="stylesheet">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=PT+Sans:wght@400;700&display=swap"
          rel="stylesheet">
</head>
<body>
<div th:replace="header.html :: copy"></div>
<main class="checkout-page">
    <h1 class="form-title">Checkout</h1>
    <form action="/product/checkout" method="post">

        <fieldset>
            <h2>Personal details</h2>
            <div class="form-item">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" pattern="^[A-Z][a-z]*(([,.] |[ '-])[A-Za-z][a-z]*)*(\.?)$"
                       required>
            </div>

            <div class="form-item">
                <label for="email">Email</label>
                <input type="email" name="email" pattern="[a-z0-9]+@[a-z]+\.[a-z]{2,3}" id="email" required>
            </div>

            <div class="form-item">
                <label for="phone">Phone</label>
                <input type="tel" name="phone" id="phone" placeholder="+36-30-123-4567" required>
            </div>
        </fieldset>

        <fieldset>
            <h2>Billing details</h2>
            <div class="form-item">
                <label for="country">Country</label>
                <input type="text" id="country" name="country" pattern="^[A-Z][a-z]+( [A-Z][a-z]+)*$" required>
            </div>

            <div class="form-item">
                <label for="city">City</label>
                <input type="text" id="city" name="city" pattern="^[A-Z][a-z]+( [A-Z][a-z]+)*$" required>
            </div>

            <div class="form-item">
                <label for="zip-code">Zip-code</label>
                <input type="number" id="zip-code" name="zip-code" required>
            </div>

            <div class="form-item">
                <label for="address">Address</label>
                <input type="text" id="address" name="address" required>
            </div>

            <input type="checkbox" name="shipping-or-not" id="shipping-or-not" checked>
            <label for="shipping-or-not">Billing address is same as shipping address</label>

        </fieldset>


        <fieldset class="form-optional not-visible">
            <h2>Shipping details</h2>
            <div class="form-item">
                <label for="country-shipping">Country</label>
                <input type="text" id="country-shipping" name="country-shipping">
            </div>

            <div class="form-item">
                <label for="city-shipping">City</label>
                <input type="text" id="city-shipping" name="city-shipping">
            </div>

            <div class="form-item">
                <label for="zip-code-shipping">Zip-code</label>
                <input type="number" id="zip-code-shipping" name="zip-code-shipping">
            </div>

            <div class="form-item">
                <label for="address-shipping">Address</label>
                <input type="text" id="address-shipping" name="address-shipping">
            </div>
        </fieldset>

        <div class="submit-holder">
            <input type="submit" value="CreditCard" class="link-button" name="paytype">
            <input type="submit" value="PayPal" class="link-button" name="paytype">
        </div>

    </form>

</main>

<div th:replace="footer.html :: copy"></div>

</body>
</html>