<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <div class="header">
        <div class="header-body">
            <a href="/"> <img src="static/img/logo.png" alt="logo" class="header-logo"></a>
            <i id="header-item-count" th:text="${itemCount}"></i>
            <a href="/cart"> <span class="iconify" id="cart" data-icon="entypo:shopping-cart" style="color: #006300;"></span></a>
        </div>
    </div>
</div>

</body>
</html>
