.glyphicon {
    margin-right: 5px;
}

.thumbnail {
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}

.thumbnail img {
    margin-top: 10px;
}

.item.list-group-item {
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}

.item.list-group-item:nth-of-type(odd):hover, .item.list-group-item:hover {
    background: #428bca;
}

.item.list-group-item .list-group-image {
    margin-right: 10px;
}

.item.list-group-item .thumbnail {
    margin-bottom: 0px;
}

.item.list-group-item .caption {
    padding: 9px 9px 0px 9px;
}

.item.list-group-item:nth-of-type(odd) {
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after {
    display: table;
    content: " ";
}

.item.list-group-item img {
    float: left;
}

.item.list-group-item:after {
    clear: both;
}

.list-group-item-text {
    margin: 0 0 11px;
}

.header-logo {
    width: 15%;
    height: 15%;
}

.header {
    background-color: #ffffff;
    color: #006300;
    padding: 10px;
    position: relative;
    border-bottom: 1px solid #006300;
}

.header-body {
    display: block;
    background-color: #fff;
    color: #006300;
    padding: 10px;
    position: relative;
}

#cart {
    /*align right*/
    height: 2%;
    width: 2%;
    position: relative;
    left: 80%;

}

.total {
    position: relative;
    left: 0%;
    top: 10%;
    font-size: 25px;
}

.delete-btn {
    height: 25px;
    width: 20px;
    text-align: center;
    padding: unset;
}

#header-item-count {
    position: relative;
    left: 80%;
    font-size: 25px;
}

.topnav {
    font-weight: bold;
    border: 1px solid #006300;
    padding: 0%;
    width: 100%;
    overflow: hidden;
    background-color: #ffffff;
    color: #006300;
    margin-bottom: 10px;
}

.topnav a {
    float: left;
    background-color: #ffffff;
    color: #006300;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #006300;
    color: #ffffff;
    cursor: pointer;
}

.topnav a.active:hover {
    background-color: #006300;
    color: #ffffff;
    cursor: pointer;
}

.topnav a.active {
    background-color: #ffffff;
    color: #006300;
}

.jumbotron.text-center {
    margin-bottom: 0px;
}

a.plussPointer.searchType {
    color: #006300;
}

a.plussPointer.searchType:hover {
    color: #009800;
    text-decoration: underline;
    cursor: pointer;
}

.increase-count-btn {
    height: 25px;
    width: 20px;
    text-align: center;
    padding: unset;
}

.decrease-count-btn {
    height: 25px;
    width: 20px;
    text-align: center;
    padding: unset;
}

#item-count {
    color: #006300;
}

.price {
    color: #9f0000;
}

.total {
    color: #9f0000;
}

.item-count-input {
    width: 30%;
    position: center;
    font-size: 20px;
}

#successful-title {
    left: 50%;
}
